@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  background-color: #f1f1f1;
}
html {
  overflow-x: hidden;
}
.routes{
  margin-top: 120px;
  z-index: 0;
}

@media only screen and (max-width: 992px){
  nav .brand-logo{
    left: 100px;
  }
}
.custom-input {
  border-bottom: 1px solid #8cc3f3 !important;
  box-shadow: 0 1px 0 0 #8cc3f3 !important;
}
.custom-input + label {
  color: #000000 !important;
}
.custom-input:focus + label {
  color: #3273AB !important;
}
.custom-input:focus {
  border-bottom: 1px solid #3273AB !important;
  box-shadow: 0 1px 0 0 #3273AB !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}